header.header{
  position: absolute;
  width: calc(100% - 5rem);
  padding: 1rem 5rem;
  left: 5rem;
  height: 6rem;
  background-color: #ebebeb;
  transition: all .2s ease;
}

header.header--open{
  left: 30rem !important;
  width: calc(100% - 30rem) !important;
}

header.header--base{
  width: 100% !important;
  left: 0;
}

.header__dash{
  letter-spacing: .8rem;
  color: #0071ce;
}

@media only screen and (max-width: 426px) {
  header.header {
    width: 100%;
    padding: 1rem 2rem !important;
    left: 0;
  }

  .header__user{
    font-size: 80%;
  }

  header.base li{
    font-size: .8rem;
  }
}