.info{
  padding-left: 5rem;
  padding-top: 6rem;
  transition: padding .2s ease;
}

.info.info--open{
  padding-left: 30rem;
}

.info__pad{
  padding: 0 5rem;
}

.info__page-heading{
  margin-bottom: 2rem;
  background-color: #ebebeb;
  padding: 1rem 5rem;
}

.info__page-heading__hr{
  width: 7rem;
  height: 2px;
  background-color: #50a2e6;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.info__requests, .info__services, .info__employees{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.dropdown-menu{
  padding: 1rem 2rem;
  display: none;
}

.search-services input{
  border: 2px solid #4e9dff !important;
}

.dropdown-menu.open{
  display: block;
}

.garage-list__result-msg{
  margin-top: 3rem;
  flex-direction: column;
}

.garage-list__result-msg img {
  width: 12rem;
}

@media only screen and (max-width: 426px) {
  .info {
    padding-left: 0 !important;
  }

  .info__page-heading {
    padding: 1rem 2rem !important;
  }

  .info__pad {
    padding: 0 2rem !important;
  }

  .info__pad table{
    font-size: 43%;
  }

  .search-services{
    margin: 2rem 0 3rem !important;
  }

  .garage-list{
    font-size: 80%;
  }

  .modal__main {
    width: calc(100% - 4rem) !important;
    margin: 8rem 2rem 0 !important;
  }

  .chat{
    width: 100% !important;
  }

  .info__requests,
  .info__services,
  .info__employees {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}