.sidenav{
  position: fixed;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  height: 100%;
  background-color: #050516;
  overflow: hidden;
  padding: 2rem 0;
  transition: width .2s ease;
}

.sidenav.sidenav--open{
  width: 30rem;
}

.sidenav__top__item{
  cursor: pointer;
}

.sidenav__top__item:not(:last-child), .sidenav__bottom__item:not(:last-child){
  margin-bottom: 1.5rem;
}

.sidenav__top__item__icon, .sidenav__bottom__item__icon{
  flex: 0 0 5rem;
  text-align: center;
}

.sidenav i{
  font-size: 1.6rem;
  color: #d9d9d9;
}

@media only screen and (max-width: 426px) {
  .sidenav{
    display: none !important
  }
}